anaconda-navigator
anaconda-project
argh
asn1crypto
astropy
autopep8
backports.shutil-get-terminal-size
bitarray
bkcharts
bokeh
boto
bottleneck
conda-build
conda-package-handling
conda-verify
contextlib2
cython
cytoolz
distributed
django-heroku
fastcache
flake8
flask
fsspec
gevent
glob2
gunicorn
h5py
html5lib
jupyter
jupyterlab
lxml
mkl-fft
mkl-random
mkl-service
mock
multipledispatch
navigator-updater
nltk
nose
numba
olefile
openpyxl
partd
path
pathlib2
pep8
pip-chill
ply
pycrypto
pycurl
pydocstyle
pyodbc
pyopenssl
pyreadline
pysocks
pytest-astropy
pywinpty
rope
rtree
scikit-image
scikit-learn
seaborn
simplegeneric
singledispatch
sortedcollections
sphinxcontrib-websupport
spyder
sqlalchemy
statsmodels
sympy
tables
ujson
unicodecsv
vboxapi
win-inet-pton
win-unicode-console
wincertstore
xlrd
xlsxwriter
xlwings
xlwt
xmltodict
yapf
