{% extends 'main/template.html' %}

{% block scripts %}
    <script type="text/javascript" src={% static "js/question.js" %}></script>
{% endblock %}

{% block content %}
<section class="FAQ" id="FAQ">
    <h3>Тык</h3>
    <table>
       <caption>Вопросики</caption>
       <tr>
        <th>Вопросик</th><th>Ответик</th>
       </tr>
       <tr>
        <td>Как подобрать образ?</td><td>Открыть шкаф</td>
       </tr>
       <tr>
        <td>Как проходит съемка?</td><td>Хо-ро-шо</td>
       </tr>
       <tr>
        <td>Пук пук</td><td>Бук бук</td>
       </tr>
    </table>
</section>
<section class="question">
    <h3>Добавьте свой вопрос</h3>
    <form onsubmit="return false" class="question-form">
        <input type="text" class="question-form__input" placeholder="Ваш вопрос" autocomplete="off">
        <button onsubmit="enter()" class="question-form__button">Отправить</button>
    </form>
    <div>
        <button onsubmit="upload()" class="question-form__button">Скачать</button>
        <button onsubmit="clear()" class="question-form__button">Очистить</button>
    </div>
</section>
{% endblock %}