{% extends 'main/template.html' %}
{% load static %}

{% block scripts %}
    <script type="text/javascript" src={% static "js/task.js" %}></script>
{% endblock %}

{% block content %}
<section class="FAQ" id="FAQ">
    <h3>Тык</h3>
    <table>
       <caption>Вопросики</caption>
       <tr>
        <th>Вопросик</th><th>Ответик</th>
       </tr>
       <tr>
        <td>Как подобрать образ?</td><td>Открыть шкаф</td>
       </tr>
       <tr>
        <td>Как проходит съемка?</td><td>Хо-ро-шо</td>
       </tr>
       <tr>
        <td>Пук пук</td><td>Бук бук</td>
       </tr>
    </table>
</section>
<section class="task">
    <h3>Добавьте список того, что нужно взять на съемку:</h3>
    <form onsubmit="return false" class="task-form">
        <input type="text" class="task_input" id="task_input" placeholder="Что еще?" autocomplete="off">
        <button onclick="add(); this.form.reset();" class="task_button_add">Добавить</button>
        <button onclick="clear_all();" class="task_button_clear">Очистить</button>
    </form>
    <p id="task_list"></p>
</section>
{% endblock %}