{% extends 'main/template.html' %}

{% block content %}
    <section class="about-me" id="about me">
        <div class="about-me__text">
            <h1>Фотограф Семина Анастасия</h1>
            <h3>Почему я?</h3>
            <ul>
                <li>фотографирую c <time datetime="2019">2019</time> года</li>
                <li>провела больше 50 съемок</li>
                <li>помогаю подобрать образ</li>
            </ul>
            <h3>Оборудование:</h3>
            <ul>
                <li>Canon 200d</li>
                <li>Объектив EF-S 18-55 IS STM</li>
                <li>Портретный объектив Canon EF 50mm f/1.8 STM</li>
            </ul>
        </div>
        <img src="../../static/img/me1.jpg" class="about-me__image" height="250px" align="right" alt="me">
    </section>
{% endblock %}