{% extends 'main/template.html' %}
{% load static %}

{% block scripts %}
    <!-- for carousel framework-->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/flickity.css' %}" />
    <script type="text/javascript" src={% static "js/flickity.pkgd.js" %}></script>
    <!--
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> -->
    <!-- end carousel framework-->

    <!-- <script type="text/javascript" src={% static "js/carousel.js" %}></script> -->
{% endblock %}

{% block content %}
<section class="portfolio" id="portfolio">
    <h3 class="portfolio__text">Примеры работ</h3>
<!--
        <div class="=portfolio__image">
            <img src="../../static/img/julia1.jpg" width="200px" align="left" alt="julia">
            <img src="../../static/img/lidia1.jpg" width="200px" align=”middle” border=”25px” alt="lidia">
            <img src="../../static/img/rita1.jpg" width="200px" align=”right”  border=”25px” alt="rita">
            <img src="../../static/img/ksu1.jpg" width="300px" align=”left” alt="ksu">
            <img src="../../static/img/anton1.jpg" width="300px" align=”right” alt="anton">
        </div>
</section>
-->
    <div class="carousel" data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
        <img src="../../static/img/julia1.jpg" alt="julia">
        <img src="../../static/img/lidia1.jpg" alt="lidia">
        <img src="../../static/img/rita1.jpg" alt="rita">
        <img src="../../static/img/ksu1.jpg" alt="ksu">
        <img src="../../static/img/anton1.jpg" alt="anton">
    </div>

</section>
    <div class="carousel"
       data-flickity='{ "lazyLoad": true }'>
      <div class="carousel-cell">
        <img class="carousel-cell-image"
          data-flickity-lazyload="../../static/img/julia1.jpg" alt="julia" />
      </div>
      <div class="carousel-cell">
        <img class="carousel-cell-image"
          data-flickity-lazyload="../../static/img/lidia1.jpg" alt="lidia" />
      </div>
      <div class="carousel-cell">
        <img class="carousel-cell-image"
          data-flickity-lazyload="../../static/img/rita1.jpg" alt="rita" />
      </div>
    </div>
{% endblock %}