{% extends 'main/template.html' %}
{% load static %}

{% block scripts %}
    <!-- for carousel framework-->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/flickity.css' %}" />
    <script type="text/javascript" src={% static "js/flickity.pkgd.js" %}></script>
    -->
    <!-- end carousel framework-->

    <script type="text/javascript" src={% static "js/comment.js" %}></script>
{% endblock %}

{% block content %}
<section class="portfolio" id="portfolio">
    <h3 class="portfolio__text">Примеры работ</h3>

    <div class="carousel">
        <img src="../../static/img/julia1.jpg" alt="julia">
        <img src="../../static/img/ksu1.jpg" alt="ksu">
        <img src="../../static/img/lidia1.jpg" alt="lidia">
        <img src="../../static/img/anton1.jpg" alt="anton">
        <img src="../../static/img/rita1.jpg" alt="rita">
    </div>
    <script type="text/javascript" src={% static "js/carousel.js" %}></script>
</section>
<section class="feedback">
    <h3>Комментарии</h3>
    <div id="comments">
        <div class="preloader">
            <p>Загрузка комментариев...</p>
        </div>
    </div>
    <template id="temp">
        <div class="comment__name"></div>
        <div class="comment__email"></div>
        <div class="comment__content"></div>
    </template>
</section>
{% endblock %}