{% extends 'main/template.html' %}

{% block content %}
<section class="portfolio" id="portfolio">
        <h3 class="portfolio__text">Примеры работ</h3>
        <div class="=portfolio__image">
            <img src="../../static/img/julia1.jpg" width="200px" align="left" alt="julia">
            <img src="../../static/img/lidia1.jpg" width="200px" align=”middle” border=”25px” alt="lidia">
            <img src="../../static/img/rita1.jpg" width="200px" align=”right”  border=”25px” alt="rita">
            <img src="../../static/img/ksu1.jpg" width="300px" align=”left” alt="ksu">
            <img src="../../static/img/anton1.jpg" width="300px" align=”right” alt="anton">
        </div>
</section>
{% endblock %}